<div class="footer row nomargin" id="footer">
    <div class="col-md-9">
        <p>
            Powered by the DOAM. Copyright © 2012-2013 DOAM plc. All rights reserved. Terms of Use | Privacy Policy
        </p>
    </div>
    <div class="col-md-3 pull-right">
        <p class="pull-right">
            <span>About</span>
            <span> | </span>
            <span>Settings</span>
            <span> | </span>
            <span>Feedback</span>
        </p>
    </div>
</div>