<div id="header" class="row nomargin">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 masthead">
        <!--div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <span class="logo">
                <img src="../assets/logo.png" alt="Logo" class="img-responsive padx2"/>
            </span>
        </div-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="title">DOAM sample app</span>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
        <div class="right login-info">
            <% if session[:user].present? %>
                <div class="login">
                    Help | Feedback | 
                    <span>
                    <a href="/logout" class="btn btn-primary btn-sm" data-method="get" rel="nofollow">Logout</a>
                    </span>
                </div>

                <div class="username">
                    <span>Welcome, <%= session[:user] %></span>
                </div>

                <div class="last_login">
                    Last login: <%= session[:last_sign_in_at] %>
                </div>
            <% end %>                        
        </div>
    </div>
</div>