<div id="header" class="row nomargin">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 masthead">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <span class="logo">
                <img src="../assets/logo.png" alt="Logo" class="img-responsive padx2"/>
            </span>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <span class="title">DOAM sample app</span>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
        <div class="right login-info">
            <div class="login">
                Help | Feedback | 
                <span>
                <a href="/logout" class="btn btn-primary btn-sm" data-method="get" rel="nofollow">Logout</a>
                </span>
            </div>

            <div class="username">
                Welcome Username
            </div>

            <div class="last_login">
                Last login: 6/1/2014, 1:20:26 PM
            </div>
        </div>
    </div>
</div>