<div class="row" xmlns="">
	<div class="col-xs-10 col-xs-push-1">
		<div class="row text-center margin-bottom-20">
			<h4>yeha map load garaunu paryo</h4>
			<div class="col-xs-12" id="doam_app_map"></div>
			<!-- <%= @deviceLists %> -->
			<!-- side panel start -->

			<div class="slidePull" open-width="416">
				<span class="glyphicon glyphicon-wrench"></span>
			</div>

			<div id="sideMenuPanel">
				<div class="container-custom">

					<div class="row">
						<div id="notification_div" class="alert alert-warning hide"></div>
					</div>

					<div class="row">
						<div class="col-xs-11 sidePanelHeader">
							<span class="glyphicon glyphicon-chevron-right"><label>Select Device(s)</label></span>
						</div>
						<div class="col-xs-11 sidePanelDetails">
							<div class="row">
								<%= select_tag(:devices, options_for_select(@deviceLists)) %>
								<div class="col-xs-4">
									<!-- <img class="hoverInfo" data-original-title="POST /user/authenticate" src="/assets/info_icon.png" style="padding: 0px 5px 0 0; height: 25px;"> -->
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-11 sidePanelHeader">
							<span class="glyphicon glyphicon-chevron-right"><label>View Dynamic Position History</label></span>
						</div>
						<div class="col-xs-11 sidePanelDetails">
							<div class="row">								
								<div class="col-xs-4">
									<!-- <img class="hoverInfo" data-original-title="POST /user/authenticate" src="/assets/info_icon.png" style="padding: 0px 5px 0 0; height: 25px;"> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- side panel end -->

		</div>    
	</div>
</div>