<div class="wrap">
	<%= render partial: 'shared/header' %>

	<div class="col-md-12">
		<div class="row margin-bottom-20">
			<!-- map -->
			<div class="col-xs-12" id="doam_app_map"></div>

			<!-- side panel start -->

			<div class="slidePull" open-width="516">
				<span class="glyphicon glyphicon-wrench"></span>
			</div>

			<div id="sideMenuPanel">
				<div class="container-custom">


					<div class="row">
						<div id="notification_div" class="alert alert-warning hide"></div>
					</div>

					<div class="row">
						<div class="col-md-12 sidePanelHeader space">
							<span class="glyphicon glyphicon-chevron-right"><label> Select Device Instance(s)</label></span>
						</div>

						<div class="col-md-12 sidePanelDetail" style="display:none;">

							
							<ul class="list v-scroll" id="dis_selector">
							  <% @dis_list.each do |role| %>
							      <li>
							        <%= check_box_tag role[1], role[1], false,class: 'device-check' -%>
							        <%= h role[0] -%>
							      </li>
							  <% end %>
							</ul>
						</div>
						<div class="col-xs-4">
							<!-- <img class="hoverInfo" data-original-title="POST /user/authenticate" src="/assets/info_icon.png" style="padding: 0px 5px 0 0; height: 25px;"> -->
						</div>
					</div>


					<div class="row">
						<div class="col-md-12 sidePanelHeader space">
							<span class="glyphicon glyphicon-chevron-right"><label>Select Latitude field</label></span>						
						</div>

						<div class="col-md-12 sidePanelDetail" style="display:none;">
							<ul class="tree" id="lat_tree">
								<div class="center">
									<img src="assets/ajax-loader.gif" title="ajax loader workin">
									<span>Building Tree...</span>
								</div>
							</ul>							
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 sidePanelHeader space">
							<span class="glyphicon glyphicon-chevron-right"><label>Select Longitude field</label></span>						
						</div>

						<div class="col-md-12 sidePanelDetail" style="display:none;">
							<ul class="tree" id="lon_tree">
								<div class="center">
									<img src="assets/ajax-loader.gif" title="ajax loader workin">
									<span>Building Tree...</span>
								</div>
							</ul>							
						</div>

						<div class="col-xs-11 sidePanelDetails space">
							<div class="row">									
								<div class="col-md-12">
									<img class="hoverInfo" data-original-title="POST /user/authenticate" src="/assets/info_icon.png" style="padding: 0px 5px 0 0; height: 20px;"/>
									<button type="button" id="show_reports" class="btn btn-primary btn-sm">Show Reports</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- side panel end -->

		</div>    
	</div>
</div>

<div class="ajax-spinner">asdfasdfasd</div>

<%= render partial: 'shared/api_info' %>