/* General CSS */

.right{
	text-align: right;
}

.nopad{
	padding: 0px;
}

.nomargin{
	margin: 0px;
}

.pad{
	padding:5px;
}

.padx2{
	padding:10px;
}

.seperator{
	margin-top: 20px;
}

/* General CSS */

input{
	border-radius: 0px;
}

h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0px;
	padding: 10px;
	color: #004880;
}


#doam_app_map{
	height: 450px;
}

.user-login-form{
	margin-top: 20px;
	/*display:none;*/
}

.apiKeyField{
	margin-bottom: 10px;
}

/* navbar */

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	line-height: 48px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: green;
	background-color: #2a6496;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: #00487f;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -20px;
  /* Pad bottom by footer height */
  padding: 0 0 20px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 30px;
  background-color: #508bb9;
  color: #003660;
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
}


/* side menu panel */

#sideMenuPanel .container-custom{
    padding: 10px 15px;
    width:400px;
}

#sideMenuPanel{
    position: absolute;
    background: #ffffff;
    z-index: 99998;
    overflow:hidden;
    border-bottom-left-radius: 4px;
    box-shadow: -5px 5px 20px #888888;
}

.slidePull{
    padding:10px 10px 20px 10px;
    background: #ffffff;
    position: absolute;
    z-index: 99999;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: -15px 5px 10px #888888;
    cursor: pointer;
}

/*#sideMenuPanel{
  display:none;
}*/

/*#sideMenuPanel .sidePanelDetails{
    height: 0px;
    overflow: hidden;
}*/

#sideMenuPanel .sidePanelDetails .row .col-xs-12{
    margin: 0 0 8px 0;
    padding:0 15px;
}
